<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @user.full_name %>, you are invited to <%= @event.title %>.</h1>
    Start: <%= format_date_time @event.start %>
    <p style="margin: 1em 0;">
      <%= @event.description %>
    </p>
    <p>
      To sign up for this event please follow this link <%= link_to "Chill and Grill", event_url(@event) %>
    </p>
    <% if @event.private %>
      <div>
        Please note that this is a private event.
      </div>
    <% end %>
    <%= render "footer" %>
  </body>
</html>