<h2>
	<% if @user == current_user %>
		You're Information
	<% else %>
		User Information
	<% end %>
</h2>

<p>
  <label>Email:</label>
  <%= @user.email %>
</p>

<p>
  <label>First name:</label>
  <%= @user.first_name %>
</p>

<p>
  <label>Last name:</label>
  <%= @user.last_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
