<% allow_rsvp ||= false %>
<div class="event_summary">
    <h2>
        <span><%= event.title %></span>
        <span><%= format_date_time event.start %></span>
    </h2>
    <% if allow_rsvp %>
        <%= get_rsvp_link event %>
    <% end %>        
    <%= link_to 'Details', event %>
    <div class="description"><%= markdown(event.description) %></div>
</div>