<% allow_rsvp ||= false %>
<div>
    <h2>
        <span><%= event.title %></span>
        <span><%= format_date_time event.start %></span>
        <% if allow_rsvp %>
            <%= get_rsvp_link event %>
        <% end %>        
    </h2>
    <%= link_to 'Details', event %>
    <p><%= event.description %></p>

    <%= render :partial => "control_panel", :locals => {:event => event} %>
</div>