<% @event.invitations.build %>
<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">    
    <%= f.check_box :private %>
    <%= f.label :private %>
  </div>

  <br>

  <%= f.fields_for :invitations do |inv_form| %>
    <div class="field">
        <%= inv_form.label :users %><br>
        <%= inv_form.collection_select :user_id, User.all, :id, :first_name %>
        Delete: <%= inv_form.check_box :_destroy %>
    </div>
  <% end %>
  

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.datetime_select :start, :ampm => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
