<h1>Today's <%= "Event".pluralize(@todays_events.length) %></h1>
<% if @todays_events.any? %>
    <%= render @todays_events %>
<% else %>
    <span>Sorry, no events today...</span>
<% end %>

<h1>Upcoming Events</h1>
<% if @future_events.any? %>
    <%= render :partial => "event", :collection => @future_events, :locals => {:allow_registration => true} %>
<% else %>
    <span>There are no upcoming events...</span>
<% end %>

<h1>Past Events</h1>
<% if @past_events.any? %>
    <%= render @past_events %>
<% else %>
    <span>There are no past events...</span>
<% end %>

<br />

<% if can? :create, Event %>
    <%= link_to 'New Event', new_event_path %>
<% end %>