<h1>Listing events</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Start</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td><%= event.description %></td>
    <td><%= format_date_time event.start %></td>
    <td><%= link_to 'Show', event %></td>
    <% if registered? event %>
        <td><%= link_to 'Un-Register', [event, get_registration(event)], confirm: 'Are you sure?', method: :delete %></td>
    <% else %>
        <td><%= link_to 'Register', [event, event.registrations.build], :method => :post %></td>
    <% end %>
    <% if can? :update, event %>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <% end %>
    <% if can? :destroy, event %>
        <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Event %>
    <%= link_to 'New Event', new_event_path %>
<% end %>
