<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Start:</b>
  <%= format_date_time @event.start %>
</p>

<% if can?(:send_invitations, Event) && @event.un_notified_users? %>
  <div>
    <%= link_to 'Send Invitations', send_invitations_event_path(@event), :method => :post %>
  </div>
<% end %>

<% unless user_has_rsvp(@event) %>
  <div>
    <%= link_to 'RSVP', new_event_rsvp_path(@event) %>
  </div>
<% end %>

<h2>Attending This Event</h2>
<div class="users_list">
  <%= render :partial => 'rsvp', :collection => @event.rsvps.yes %>
</div>

<h2>Maybe Attending This Event</h2>
<div class="users_list">
  <%= render :partial => 'rsvp', :collection => @event.rsvps.maybe %>
</div>

<h2>Not Attending This Event</h2>
<div class="users_list">
  <%= render :partial => 'rsvp', :collection => @event.rsvps.no %>
</div>

<% if can? :edit, Event %>
  <%= link_to 'Edit', edit_event_path(@event) %>
<% end %>