<div id="event_details">
  <h2 id="title">
    <%= @event.title %>
  </h2>
  <p id="description">
    <%= @event.description %>
  </p>
  <p id="start">
    <%= format_date_time @event.start, true %>
  </p>

  <% if can? :edit, Event %>
    <%= link_to 'Edit Event', edit_event_path(@event) %>
  <% end %>

  <% if can? :destroy, Event %>
    <%= link_to 'Cancel Event', @event, confirm: 'Are you sure?', method: :delete %>
  <% end %>

  <%= get_rsvp_link @event %>
</div>

<h3>Attending This Event</h3>
<div class="users_list">
  <%= render :partial => 'rsvp', :collection => @event.rsvps.yes %>
</div>

<h3>Maybe Attending This Event</h3>
<div class="users_list">  
  <%= render :partial => 'rsvp', :collection => @event.rsvps.maybe, :locals => {:attending => false} %>
</div>

<h3>Not Attending This Event</h3>
<div class="users_list">
  <%= render :partial => 'rsvp', :collection => @event.rsvps.no, :locals => {:attending => false} %>
</div>