<div id="event_details">
  <h2 id="title">
    <%= @event.title %>
  </h2>
  <div id="description"><%= markdown(@event.description) %></div>
  <p id="start">
    <%= format_date_time @event.start, true %>
  </p>

  <% if can? :edit, Event %>
    <%= link_to 'Edit Event', edit_event_path(@event) %>
  <% end %>

  <% if can? :destroy, Event %>
    <%= link_to 'Cancel Event', @event, confirm: 'Are you sure?', method: :delete %>
  <% end %>

  <% if can? :manage, Event %>
    <%= link_to 'Send Reminders', remind_event_path(@event), :confirm => 'Are you sure?', :method => :post %>
  <% end %>

  <%= get_rsvp_link @event %>
</div>

<h3>Attending This Event (<%= get_total_yes @event %>)</h3>
<div class="users_list">
  <%= render :partial => 'rsvp', :collection => @event.rsvps.yes %>
</div>

<h3>Maybe Attending This Event (<%= get_total_maybe @event %>)</h3>
<div class="users_list">  
  <%= render :partial => 'rsvp', :collection => @event.rsvps.maybe, :locals => {:attending => false} %>
</div>

<h3>Not Attending This Event (<%= @event.rsvps.no.length %>)</h3>
<div class="users_list">
  <%= render :partial => 'rsvp', :collection => @event.rsvps.no, :locals => {:attending => false} %>
</div>

<% if can? :manage, Event %>
  <h3>
    No RSVP (<%= @event.no_rsvp.length %>)
    <%= link_to 'RSVP For', new_event_rsvp_path(@event, :choose => true), :class => "header_link" if @event.no_rsvp.length > 0 && can?(:manage, Rsvp) %>
  </h3>  
  <div id="no_rsvp">
    <% @event.no_rsvp.each do |user| %>
      <span class="user_name"><%= user.first_name %></span><br>
    <% end %>
  </div>
<% end%>