<%= form_for [@event, @rsvp] do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :status %>
		<%= f.select :status, [['Yes', 'Yes'], ['Maybe', 'Maybe'], ['No', 'No']] %>
	</div>
	<div class="field">
		<%= f.label :guests %>
		<%= f.select :guests, (0..10).collect { |n| [n, n] } %>
	</div>
	<div class="field">
		<%= f.label :comment %>
		<%= f.text_area :comment %>
	</div>
	<div class="actions">
		<%= f.submit 'RSVP' %>
	</div>
<% end %>
