<%= form_for [@event, @rsvp] do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>

	<% if @rsvp.user_id.nil? %>
	<div class="field">
		<%= f.label :user_id %>
		<%= f.select :user_id, @event.no_rsvp.collect {|user| [user.full_name, user.id]} %>
	</div>
	<% else %>
		<%= f.hidden_field :user_id %>
	<% end %>

	<div class="field">
		<%= f.label :status %>
		<%= f.select :status, [['Yes', 'Yes'], ['Maybe', 'Maybe'], ['No', 'No']] %>
	</div>
	<div class="field">
		<%= f.label :guests, 'Additional Guests' %>
		<%= f.select :guests, (0..10).collect { |n| [n, n] } %>
	</div>
	<div class="field">
		<%= f.label :comment %>
		<%= f.text_area :comment %>
	</div>
	<div class="actions">
		<%= f.submit 'RSVP' %>
	</div>
<% end %>
