<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="container">
        <div id="header">
            Chill And Grill!
            <div id="quick_links">
                <% if not current_user %>
                    <%= link_to 'Sign In', new_session_path %>
                    <%= link_to 'Create Account', new_user_path %>
                <% else %>
                    <%= link_to "Sign out", session_path, :method => :delete %>
                <% end %>
            </div>
        </div>
        <div id="flash">
            <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, :id => "flash_#{name}" %>
            <% end %>
        </div>
        <div id="content">
            <%= yield %>
        </div>
        <div id="footer">
            Some footer will go here
        </div>
    </div>
</body>
</html>
